h1= title
ul
  li
    a(href='/wgs84') Cálculo de Coordenadas Cartesianas Geocéntricas para el Elipsoide de Referencia WGS84
  li
    a(href='hayford/calcular') Cálculo de Coordenadas Cartesianas Geocéntricas para el Elipsoide de Referencia Hayford
